ellipsis()
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
multEllipsis()
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 4;
  -moz-box-orient: vertical;
borderlineright()
  border-right: solid 1px #e6e6e6;
borderlinebottom()
  border-bottom: solid 1px #e6e6e6;
scrollBarStyle()
    /* 这里设置了浏览器滑动条的样式，此时为蓝色 */
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: transparent;
  }

  /* 定义滚动条轨道 内阴影+圆角 */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  /* 定义滑块 内阴影+圆角 */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff;
  }
getTriangleImg() {
  background-image: url('/static/img/triangle.png');
}
url('/static/img/triangle.png')

titleFontFamily()
  @font-face
    font-family: titleFont;
    src: url('/src/assets/font/Rachel Roman.svg') format('svg'),
         url('/src/assets/font/Rachel Roman.ttf') format('truetype')
newsTitleFamily()
  @font-face
    font-family: newsTitleFont;
    src: url('/src/assets/font/gur.ttf') format('truetype')
